{% extends "index.html" %} 
{% block title %} Sign in of user {% endblock%} 
{% block head %} 

{%endblock %} 
{%block body %} 
<button onclick="EmailSignin()">Signin Using Email</button>
<button onclick="UsernameSignin()">Signin Using Username</button>
<div id="email-signin" style="display: none;">
    <form action="profile/" method="post">
        {{signinEmail}}
        <input type="submit" value="Submit">
    </form>
</div>
<div id="username-signin" style="display: none;">
    <form action="profile/" method="post">
        {{signinUsername}}
        <input type="submit" value="Submit">
    </form>
  </div>

<script>
  function EmailSignin() {
    // Get the content element
    var content = document.getElementById("email-signin");

    // Set its display property to "block"
    content.style.display = "grid";
    content.style.justifyContent = "space-around";
  }
  function UsernameSignin() {
    // Get the content element
    var content = document.getElementById("username-signin");

    // Set its display property to "block"
    content.style.display = "grid";
    content.style.justifyContent = "space-around";
  }
</script>

{% endblock %} 