{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    
    <button onclick="window.location.href = 'signup/';" class="element" >Login</button>
    <button onclick="window.location.href = 'option/';" class="element">Signin</button>
    
    <form style="margin-left: 30%;margin-top: 10%;">
        <div class="box" id="slide-in" >
        <input type="text" id="name" name="name" placeholder="Enter your name">
      
        
        <input type="email" id="email" name="email"   placeholder="Enter your email">
      
        
        <input type="password" id="password" name="password"  placeholder="Enter your password">
        
    </div>
    <input type="submit"  value="Submit">
        
      </form>
      
    
 
</body>
</html>