{% extends "index.html" %} 
{%load static %}


{% block head %} {{ super }}
{% block title %} Sign up page{% endblock %}  
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css'%}">
{% endblock %} 
{% block content %}

<form action="passVerification/" method="post">
    {%csrf_token%}
    {%for field in form %} 
    
    <div class="form-row" >
        {{ field.errors }}

        {{ field.label_tag }} {{ field }}
    </div>
{% endfor %} 
    <input type="submit" value="Submit">
</form>
{%endblock%}


